:root {
    --white: #fff;
    --red: #C90003;
    --dark-red: #a10006;
    --dark-grey: #242424;
    --black: #1B1B1B;
    --light-gray: #3D3838;
    --faq-color: #2E2E2E;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-DemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/TTNormsPro-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}



body {
    color: var(--white);
    font-family: 'TTNormsPro-Bold', sans-serif;
    background-color: var(--dark-grey);
}

.container {
    max-width: 1660px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background: rgba(60, 37, 0, 0.5); /* твой цвет 3C2500 с прозрачностью 50% */
    backdrop-filter: blur(12px);      /* размывает фон за блоком */
    -webkit-backdrop-filter: blur(12px); /* нужно для Safari */
    position: relative;
    z-index: 2000;
}

.header-row {
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* желательно */
}

.nav-desktop a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 4px 0;
    transform: 0.3s ease;
}

.nav-desktop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.25s ease;
}

.nav-desktop a:hover::after {
    width: 100%;
}

.nav-desktop ul {
    display: flex;
    gap: 100px;
    font-size: 20px;
}

.nav-desktop li {
    list-style-type: none;
}

.toggle, .toggle-mobile {
    background-color: var(--dark-grey);
    padding: 12px 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease;
}

.toggle:hover {
    transform: scale(0.9);
}

.nav-mobile, .toggle-mobile {
    display: none;
}


/* FIRST SCREEN */

.first-screen {
    background-image: url('../img/hero-background.webp');
    background-size: cover;      
    background-repeat: no-repeat; 
    overflow-x: hidden;
}


.first-screen h1 {
    font-size: 80px;
    font-weight: 700;
    margin-top: 212px;
    max-width: 904px;
}

.first-screen p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
    max-width: 615px;
}

.hero-buttons {
    padding: 190px 0 155px 0;
    display: flex;
    gap: 40px;
}

.btn-gifts, .btn-more {
    border-radius: 60px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

.btn-more {

}

.btn-gifts:hover, .btn-more:hover {
    transform: scale(0.9);
}

.btn-gifts {
    padding: 20px 40px;
    background-color: var(--red);
}

.btn-more {
    border: 2px solid var(--red);
    padding: 20px 40px;
}


/* GIFTS & CONDITIONS */

.gifts-cards, .conditions-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.gifts h2, .conditions h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 170px 0 51px 0;
}

.gifts-cards__item, .conditions-cards__item {
    position: relative; /* обязательно */
    width: 100%;
    border-radius: 30px;
    background-color: var(--black);
    padding: 30px;
    border: 1px solid var(--red);
    overflow: visible; /* чтобы подарок мог вылезать за рамку */
}

.decor-gifts {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30%;
    max-width: 200px;
}

.decor-gifts_2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 25%;
    max-width: 160px;
}

.christmas-lama {
    position: absolute;
    bottom: 100%;
    right: 5%;
    width: 18%;
    max-width: 130px;
}

.ded-moroz {
    position: absolute;
    right: 0;
    top: -40%;  /* регулируешь как в макете */
    width: 200px;
    pointer-events: none;
    z-index: 100;
}


.gifts-cards__item p, .conditions-cards__item p {
    font-size: 24px;
    font-weight: 500;
    max-width: 400px;
    margin-top: 30px;
}

.conditions {
    position: relative;
    margin-bottom: 150px;
}

.conditions-cards__item p, .conditions-cards__item li {
    font-size: 24px;
    font-weight: 500;
    max-width: 600px;
}

.conditions-cards__item li {
    margin-top: 20px;
}

.gifts h3, .conditions h3 {
    font-size: 40px;
    font-weight: 700;
    max-width: 500px;
}

.chance, .conditions-gift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: var(--light-gray);
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.gifts-card-item__top, .conditions-card-item__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gifts-cards__item .social-media {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

/* BANNER

.banner {
    background-image: url('../img/banner-mobile-app.png');
    display: flex;
    padding-top: 20px;
}

.banner_left h3 {
    font-size: 36px;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 20px;
}

.banner_left-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.banner-stores {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-stores {
    max-width: 250px;
}

.banner_left img {
    max-width: 255px;
}

.banner-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
} */

/* BANNER NEW */

.banner {
    background-image: url('../img/banner-mobile-app.png');
    background-size: cover;      
    background-repeat: no-repeat; 
    overflow-x: hidden;
}

.mobile-span {
    display: none;
}

.banner-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_middle span {
    font-size: 36px;
    font-weight: 700;
}

.qr-app {
    width: 200px;
}
.banner-stores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-stores img {
    width: 200px;
}


.banner_left-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}


/* FAQ */


.faq h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 170px 0 51px 0;
}

/* COMPONENT: FAQ */
.faq-row {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.faq-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.faq-item.active-state .arrow {
  transform: rotate(180deg);
}
.arrow {
  flex-shrink: 0;
  align-self: flex-start;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  transition: transform 0.3s ease;
}
.faq-item {
  background: var(--faq-color);
  border: 1px solid #828282;
  border-radius: 18px;
  box-shadow: 0 2px 8px 0 rgba(30, 41, 59, 0.07);
  overflow: hidden;
  transition: box-shadow 0.2s;
  width: 100%;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 20px;
  color: var(--white);
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  transition: background 0.15s;
}
button, .faq-question {
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 16px;
  color: var(--white);
  background: var(--faq-color);
  transition: max-height 1s, padding 0.3s;
  line-height: 1.7;
}
.faq-answer p {
  font-size: 16px;
}
.faq-answer a {
  color: var(--red);
}
.faq-item.active-state .faq-answer {
  padding: 0 20px 20px 20px;
  max-height: max-content;
}


/* CONTACTS */

footer {
    position: relative;
    background-image: url('../img/footer-background.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40%; /* или сколько нужно */
}

.contacts h2 {
    font-size: 96px;
    font-weight: 700;
    margin: 170px 0 50px 0;
}

.call-to-us__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
}

.call-to-us__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.call-to-us p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.copyright {
    color: #D7D7D7;
    font-size: 16px;
    font-weight: 700;
}

.footer-bg-img {
    position: absolute;
    top: -50px;
    background-size: cover;      
    background-position: center;    
    background-repeat: no-repeat; 
    pointer-events: none; 
}




@media (max-width: 1440px) {
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .first-screen {
        background-position: 60%;
    }

    .gifts-card-item__top h3, .conditions-card-item__top h3 {
        font-size: 24px;
    }

    .gifts-cards {
        justify-content: space-between;
        gap: 40px;
    }

    .gifts-cards__item p, .conditions-cards__item p, .conditions-cards__item li {
        font-size: 18px;
        margin-top: 10px;
    }
}




@media (max-width: 1024px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .nav-desktop ul {
        font-size: 18px;
        gap: 20px;
    }

    .gifts-cards,
    .conditions-cards {
        grid-template-columns: 1fr;
    }

    .first-screen h1 {
        font-size: 60px;
        max-width: 600px;
    }

    .first-screen p {
        font-size: 18px;
    }

    .gifts h2, .conditions h2, .faq h2, .contacts h2 {
        font-size: 48px;
    }

    .gifts-card-item__top h3, .conditions-card-item__top h3 {
        font-size: 24px;
        max-width: 100%;
    }

    .gifts-cards__item p, .conditions-cards__item p {
        margin-top: 0;
        max-width: 650px;
    }

    .christmas-lama {
        position: absolute;
        bottom: 245%;
        right: 5%;
        width: 18%;
        max-width: 130px;
    }

    .ded-moroz {
        width: 100px;
        top: -20%;
    }

    .decor-gifts, .decor-gifts_2  {
        display: none;
    }

    .banner-row {
        flex-direction: column;
    }

    footer {
        padding-bottom: 70%;
    }

}


@media (max-width: 768px) {
    .container {
        padding: 0 50px;
        margin: 0 auto;
    }

    .nav-desktop {
        display: none;
    }

    .toggles_row {
        display: flex;
        gap: 10px;
    }

    .toggle-mobile {
        display: block;
    }

    .toggle, .toggle-mobile {
        background: rgba(36, 36, 36, 0.3); /* твой цвет 3C2500 с прозрачностью 50% */
        padding: 6px 12px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 0.3s ease;
    }

    .first-screen {
        background-position: 70%;
    }

    .first-screen h1 {
        font-size: 48px;
        max-width: 500px;
    }

    .first-screen p {
        max-width: 350px;
    }

    .btn-gifts, .btn-more {
        font-size: 18px;
    }

    .christmas-lama {
        bottom: 245%;
    }

    .gifts-card-item__top, .conditions-card-item__top {
        flex-direction: column-reverse;
        align-items: baseline;
        margin-bottom: 20px;
        gap: 10px;
    }

    .qr-app {
        display: none;
    }

    .banner_left h3 {
        text-align: center;
    }

    .banner-stores img {
        max-width: 200px;
    }

    .banner_right img {
        max-width: 380px;
    }




    footer {
        padding-bottom: 100%;
    }
}

@media (max-width: 450px) {
    .container {
        padding: 0 20px;
        margin: 0 auto;
    }
    .logo img {
        width: 70%;
    }

    .first-screen {
        background-image: url('../img/mobile-bg-400.png');
        background-size: cover;      
        background-repeat: no-repeat; 
        overflow-x: hidden;
    }

    .gifts h2, .conditions h2 {
        font-size: 48px;
        font-weight: 700;
        margin: 100px 0 30px 0;
    }

    .toggle, .toggle-mobile {
        padding: 6px 12px;
    }

    .first-screen {
        background-position: 75%;
    }

    .hero-buttons {
        padding: 32px 0;
        gap: 15px;
    }

    .first-screen h1 {
        font-size: 28px;
        max-width: 250px;
    }

    .first-screen p {
        font-size: 15px;
        max-width: 280px;
        margin-top: 24px !important;
    }

    .btn-gifts, .btn-more {
        font-size: 16px;
    }

    .btn-gifts svg, .btn-more svg {
        width: 20px;
        height: 20px;
    }

    .gifts h2, .conditions h2, .faq h2, .contacts h2, .banner h2 {
        font-size: 24px;
    }

    .gifts-card-item__top h3, .conditions-card-item__top h3 {
        font-size: 20px;
        max-width: 250px;
    }

    .btn-gifts, .btn-more {
        padding: 12px 24px;
    }

    .decor-gifts_2 {
        display: none;
    }

    .decor-gifts {
        bottom: 150px;
    }

    .banner {
        background-image: url('../img/mobile-banner-bg.png');
        background-size: cover;      
        background-repeat: no-repeat;
        overflow-x: hidden;
        padding: 75px 0;
    }

    .christmas-lama {
        bottom: 225%;
        width: 50px;
    }

    

    .span-desktop {
        display: none;
    }

    .mobile-span {
        display: block;
        font-size: 24px;
        max-width: 300px;
    }

    .mobile-span span {
        font-size: 24px;

    }


    .banner-row {
        flex-direction: column;
    }

    .banner_top {
        order: 2;
    }

    .banner_middle {
        order: 1;
    }

    .banner_bottom {
        order: 3;
    }

    .chance, .conditions-gift {
        font-size: 20px;
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    footer {
        padding-bottom: 200%;
    }
}

@media (max-width: 378px) {


    .banner_left h3 {
        font-size: 24px;
    }

    .banner-stores img {
        max-width: 200px;
    }

    .banner_right img {
        max-width:340px;
    }
}

@media (max-width: 320px) {
    /* h2 {
        font-size: 18px !important;
    } */

    .first-screen h1 {
        font-size: 20px;
        max-width: 200px;
    }

    .first-screen p {
        max-width: 275px;
    }
    p {
        font-size: 16px !important;
    }
    .container {
        padding: 0 15px;
    }
    .banner_right img {
        max-width:300px;
    }

    .social-media svg {
        width: 30px;
        height: 30px;
    }

    footer {
        padding-bottom: 250%;
    }
}


